<!DOCTYPE html>
<html lang="en" manifest="manifest.appcache">

<head>
  <title>template - Jason Garvin</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width" , initial-scale="1">
  <meta name="description"
    content="Template description." />
  <meta name="author" content="Jason Garvin">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PTF8Q8JQ');</script>
  <!-- End Google Tag Manager -->

  <!-- Open Graph Protocol - Social Sharing -->
  <meta property="og:title" content="Page Title">
  <meta property="og:description" content="A small, engaging blurb.">
  <meta property="og:url" content="canonical-url">
  <meta property="og:image" content="banner image, 1.91:1">
  <meta property="og:type" content="website">

  <!-- Keeps the template from being indexed - remove for live pages -->
  <meta name="robots" content="noindex">

  <!-- Main Styles -->
  <link rel="stylesheet" media="screen" href="assets/stylesheets/normalize.css">
  <link rel="stylesheet" media="screen" href="assets/stylesheets/style.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Quicksand:wght@300;400;700&display=swap" rel="stylesheet">

  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/e3566c3fcf.js" crossorigin="anonymous"></script>
</head>

<body id="top">

  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTF8Q8JQ" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Main Header -->

  <header id="main-header">

    <!-- Logo -->

    <div class="site-logo">
      <a class="title" href="index.html">Jason Garvin</a>
    </div>

    <!-- Hamburger icon -->

    <input class="side-menu" type="checkbox" id="side-menu"/>
    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

    <!-- Menu -->

    <nav id="main-nav">
      <ul class="main-menu">
        <li>
          <a class="menu-item" href="blog/index.html">
            <span>Blog</span>
          </a>
        </li>
        <li>
          <a class="menu-item" href="about.html">
            <span>About</span>
          </a>
        </li>
        <li>
          <a class="menu-item active-page" href="updates.html">
            <span>Updates</span>
          </a>
        </li>
        <li>
          <a class="menu-item" href="contact.html">
            <span>Contact</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <!-- Social toggle icon -->

  <input class="social-box" type="checkbox" id="social-box"/>
  <label class="social-toggle" for="social-box"><span class="fa-solid fa-arrow-turn-down"></span></label>

  <!-- Social bar -->

  <div id="floating-social">
    <ul class="list-hor social-bar">
      <li>
        <a class="social-account" href="mailto:jsongarvin@gmail.com?subject=Contact%20Form">
          <i class="fa-regular fa-envelope"></i>
          Email
        </a>
      </li>
      <li>
        <a class="social-account" href="https://github.com/jasongarvin" target="_blank">
          <i class="fa-brands fa-github"></i>
          Github
        </a>
      </li>
      <li>
        <a class="social-account" href="https://www.linkedin.com/in/jasonagarvin/" target="_blank">
          <i class="fa-brands fa-linkedin-in"></i>
          LinkedIn
        </a>
      </li>
      <li>
        <a class="social-account" href="https://www.threads.net/@jasonagarvin" target="_blank">
          <i class="fa-brands fa-threads"></i>
          Threads
        </a>
      </li>
    </ul>
  </div>

  <main>

    <!-- Introduction -->

    <article class="hero-content centered top-of-page">
      <h1 class="cta-header">Title</h1>
      <p class="subtitle">Subtitle</p>
    </article>

    <article class="vertical-space left-align">
      <h2 class="centered">
        Section title
      </h2>
      <p>
        Content
      </p>
    </article>

    <!-- Contact Section -->

    <address id="contact-me">
      <a class="cta-click-box centered" href="mailto:jsongarvin@gmail.com?subject=Contact%20Form">
        <h3 class="cta-box-title">Contact me</h3>
      </a>
    </address>

  </main>

  <!-- Main Footer -->

  <footer id="primary-footer">
    <div class="social-bar">
      <ul class="list-hor">
        <li>
          <a href="mailto:jsongarvin@gmail.com?subject=Contact%20Form" target="_blank">Email</a>
        </li>
        <li>
          <a href="https://github.com/jasongarvin" target="_blank">Github</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/jasonagarvin/" target="_blank">LinkedIn</a>
        </li>
        <li>
          <a href="https://www.threads.net/@jasonagarvin" target="_blank">Threads</a>
        </li>
      </ul>
    </div>

    <div class="end-footer">
      <p>
        <small itemprop="copyrightNotice">
          &copy;
          <span itemprop="publisher" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name">Jason Garvin</span>
          </span>
          2023
        </small>
      </p>
    </div>
  </footer>

  <button onclick="toTopFunction()" id="back-to-top" title="Return to top" hidden>
    <i class="fa fa-arrow-up to-top-button"></i>
    Back to top
  </button>

  <!-- Scripts and handling -->

  <script src="assets/scripts/to-top.js"></script>

  <noscript>
    <p>Oops! Elements of this website require JavaScript to work properly.</p>
  </noscript>
</body>

</html>
