---
import '../../styles/CardStyle.astro';
---

<!DOCTYPE html>

<html lang="en">

<head>
  <title>Jason Garvin - Business Card</title>

  <script src="https://kit.fontawesome.com/e3566c3fcf.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrapper">
    <input id="flip" type="checkbox" name="flip-card">

    <label for="flip">
      <div class="card">

        <div class="front">
          <div class="front_bg">
            JG
          </div>

          <div class="strip"></div>
          <div class="left_side"></div>
          <div class="right_side"></div>
          <div class="name">
            <span>JASON</span>GARVIN
          </div>
          <div class="profession">
            Front End Web Developer
          </div>
        </div>

        <div class="back">
          <div class="left_back"></div>

          <div class="item">
            <a href="https://www.linkedin.com/in/jasonagarvin/" target="_blank"><i class="fa fa-linkedin"></i>LinkedIn</a>
          </div>
          <div class="item">
            <a href="https://github.com/jasongarvin" target="_blank"><i class="fa fa-github"></i>GitHub</a>
          </div>
        </div>

      </div>
    </label>
  </div>
</body>

</html>
