---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactForm from '../components/ContactForm.astro';

const title = "Contact Me | Jason Garvin";
const description = "Contact Jason Garvin about Total Escape Games and the tabletop gaming industry, business overall, and web development. Professional inquiries welcome.";
const canonicalUrl = "https://jasongarvin.com/contact";
---

<BaseLayout
  description={description}
  title={title}
  canonicalUrl={canonicalUrl}>

  <main id="main-content">

    <section class="hero-content top-of-page transparent-bg">
      <h1 class="cta-header centered">Contact Me</h1>
      <p class="subtitle centered">
        Reach out about tech, small business,
        <br>or just to chat
      </p>
    </section>

    <ContactForm></ContactForm>

    <section class="vertical-space transparent-bg">
      <h2>
        Let's Connect
      </h2>
      <p>
        I'm always happy to connect with new people and share ideas. I believe
        that collaboration and community are essential for success.
      </p>
      <p>
        Whether you have a question, want to collaborate on a project, or just
        want to say hi, I'd love to hear from you. Feel free to send me a
        message or connect with me on
        <a href="https://www.linkedin.com/in/jasonagarvin/" target="_blank" rel="external">LinkedIn</a>.
      </p>
    </section>
  </main>
</BaseLayout>
