/* Trying a new color palette approach using hsl to create
different variations of the same base color */

:root {
  --brand-hue:      217deg;  /* #3066be */
  --brand-hue-alt:  195deg; /* #007ea7 */

/*
  hsl() and hsla() can accept comma-separated or space-separated arguments,
  but older browsers (such as Internet Explorer 11) only support
  comma-separated arguments.
*/

  --brand-primary:   hsl( var( --brand-hue ) 100% 50% );
  --brand-highlight: hsl( var( --brand-hue ) 100% 75% );
  --brand-lowlight:  hsl( var( --brand-hue ) 100% 25% );
  --brand-inactive:  hsl( var( --brand-hue )  50% 50% );

  --brand-secondary:     hsl( var( --brand-hue-alt ) 100% 50% );
  --brand-2nd-highlight: hsl( var( --brand-hue-alt ) 100% 75% );
  --brand-2nd-lowlight:  hsl( var( --brand-hue-alt ) 100% 25% );
  --brand-2nd-inactive:  hsl( var( --brand-hue-alt )  50% 50% );
}

:root[theme='dark'] {
  --brand-hue:      237deg;  /* #3066be */
  --brand-hue-alt:  29; /* #007ea7 */

/*
  hsl() and hsla() can accept comma-separated or space-separated arguments,
  but older browsers (such as Internet Explorer 11) only support
  comma-separated arguments.
*/

  --brand-primary:   hsl( var( --brand-hue ) 100% 50% );
  --brand-highlight: hsl( var( --brand-hue ) 100% 75% );
  --brand-lowlight:  hsl( var( --brand-hue ) 100% 25% );
  --brand-inactive:  hsl( var( --brand-hue )  50% 50% );

  --brand-secondary:     hsl( var( --brand-hue-alt ) 100% 50% );
  --brand-2nd-highlight: hsl( var( --brand-hue-alt ) 100% 75% );
  --brand-2nd-lowlight:  hsl( var( --brand-hue-alt ) 100% 25% );
  --brand-2nd-inactive:  hsl( var( --brand-hue-alt )  50% 50% );
}
