/* Trying a new color palette approach using hsl to create
different variations of the same base color */

:root {
  --brand-hue:      217deg; /* #3066be */
  --brand-hue-alt:  236deg; /* #696c9a */
  --monotone:       195deg; /* #00171f */

/*
  hsl() and hsla() can accept comma-separated or space-separated arguments,
  but older browsers (such as Internet Explorer 11) only support
  comma-separated arguments.
*/

  --brand-primary:   hsl(var(--brand-hue), 60%, 47% );
  --brand-highlight: hsl(var(--brand-hue), 65%, 75% );
  --brand-lowlight:  hsl(var(--brand-hue), 60%, 19% );
  --brand-inactive:  hsl(var(--brand-hue), 35%, 47% );

  --brand-secondary:     hsl(var(--brand-hue-alt), 23%, 51% );
  --brand-2nd-highlight: hsl(var(--brand-hue-alt), 30%, 81% );
  --brand-2nd-lowlight:  hsl(var(--brand-hue-alt), 70%, 21% );
  --brand-2nd-inactive:  hsl(var(--brand-hue-alt), 20%, 35% );

  --brand-monotone:       hsl(var(--monotone), 100%, 6%);
  --brand-mono-highlight: hsl(var(--monotone), 10%, 90%);
  --brand-mono-lowlight:  hsl(var(--monotone), 25%, 20%);

}

.dark-theme {
  --brand-hue:      236deg;  /* #696c9a */
  --brand-hue-alt:  217deg; /* #3066be */
  --monotone:       29deg; /* #e6e9de */

/*
  hsl() and hsla() can accept comma-separated or space-separated arguments,
  but older browsers (such as Internet Explorer 11) only support
  comma-separated arguments.
*/

  --brand-primary:   hsl(var(--brand-hue), 23%, 51% );
  --brand-highlight: hsl(var(--brand-hue), 30%, 81% );
  --brand-lowlight:  hsl(var(--brand-hue), 40%, 31% );
  --brand-inactive:  hsl(var(--brand-hue), 20%, 36% );

  --brand-secondary:     hsl(var(--brand-hue-alt), 45%, 47% );
  --brand-2nd-highlight: hsl(var(--brand-hue-alt), 60%, 75% );
  --brand-2nd-lowlight:  hsl(var(--brand-hue-alt), 40%, 35% );
  --brand-2nd-inactive:  hsl(var(--brand-hue-alt), 35%, 45% );

  --brand-monotone:       hsl(var(--monotone), 32%, 93%);
  --brand-mono-highlight: hsl(var(--monotone), 3%, 90%);
  --brand-mono-lowlight:  hsl(var(--monotone), 3%, 20%);
}

.color-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px;
  background: none;
  border-radius: 10px;
}

.color-box {
  display: flex;
  flex-direction: column;

  width: 20%;
  min-height: 250px;
  margin: 0 8px;
  padding: 0;

  background: none;
}

.color-box div {
  height: 50%;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.color-box div:last-of-type {
  margin-top: 16px;
}

.primary {
  background: var(--brand-primary);
}

.highlight {
  background: var(--brand-highlight);
}

.lowlight {
  background: var(--brand-lowlight);
}

.inactive {
  background: var(--brand-inactive);
}

.secondary {
  background: var(--brand-secondary);
}

.secondary-highlight {
  background: var(--brand-2nd-highlight);
}

.secondary-lowlight {
  background: var(--brand-2nd-lowlight);
}

.secondary-inactive {
  background: var(--brand-2nd-inactive);
}

.white {
  color: #fff;
}

.monotone {
  color: var(--brand-monotone);
}

.monotone-highlight {
  color: var(--brand-mono-highlight);
}

.monotone-lowlight {
  color: var(--brand-mono-lowlight);
}
