/*
  ========================================
  CSS Reset
  http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
  ========================================
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  HTML5
  ========================================
*/

/* TODO Set up responsive layout */

article {
  box-sizing: border-box;
  background-color: #DCDCDC;
  border: 2px solid #e7e7e7;
  border-radius: 10px;
  box-shadow: 0 0.25rem 0.25rem #999999;
  margin: 0.5rem 0.25rem;
  opacity: 0.9;
  padding: 1rem;
  width: 100%;
  max-width: 56rem;
}

aside {
  background-color: #e7e7e7;
  border: 2px dotted #DCDCDC;
  margin: 0.25rem;
  padding: 0.25rem;
}

footer {
  min-height: 7rem;
}

footer p {
  padding-top: 1rem;
}

header {
  min-height: 7rem;
}

iframe {
  margin: auto;
  display: block;
}

section {
  background-color: #e7e7e7;
  border-right: 2px solid #DCDCDC;
  border-left: 2px solid #DCDCDC;
  margin: 0.8rem 0.25rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 60rem;
}

/*
  ========================================
  Containers & Grid
  ========================================
*/

.col-25,
.col-65 {
  display: inline-block;
  vertical-align: top;
}

.container,
.grid {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 60rem;
}

.container {
  padding: 1% 3%;
}

.col-25 {
  padding-left: 3.5%;
  width: 25%;
  min-width: 8rem;
}

.col-65 {
  padding-right: 3.5%;
  width: 65%;
  min-width: 21rem;
}

/*
  ========================================
  Typography
  ========================================
*/

body {
  background-color: #F8F8FF;
  color: #333333;
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.618;
}

cite,
em {
  font-style: italic;
}

h1,
h2,
h4,
h5,
p {
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5 {
  color: #6A5ACD;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.35;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.45;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.7;
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.6;
}

h5 {
  color: #a9b2b9;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}

.tooltip {
  color: #F8F8FF;
  background-color: #6A5ACD;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  background-color: #008CBA;
  border-radius: 2px;
  color: #F8F8FF;
  display: inline-block;
}

.btn-alt {
    border: 1px solid #F8F8FF;
    padding: 0.5rem;
}

.btn-alt:hover {
    background-color: #7CB9E8;
    color: #F8F8FF;
}

.btn.current-page {
  background-color: #7CB9E8;
}

.btn.gradient:hover {
  /* Fallback for browsers that don't support gradients */
  background: #7CB9E8;
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(#7CB9E8, #6A5ACD);
  /* For Internet Explorer 10 */
  background: -ms-linear-gradient(#7CB9E8, #6A5ACD);
  /* Standard syntax */
  background: linear-gradient(#7CB9E8, #6A5ACD);
  color: #F8F8FF;
}

.btn.current-page.gradient {
  /* Fallback for browsers that don't support gradients */
  background: #7CB9E8;
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(#7CB9E8, #6A5ACD);
  /* For Internet Explorer 10 */
  background: -ms-linear-gradient(#7CB9E8, #6A5ACD);
  /* Standard syntax */
  background: linear-gradient(#7CB9E8, #6A5ACD);
  color: #F8F8FF;
}

/*
  ========================================
  Links
  ========================================
*/

p a {
  border-bottom: 1px dotted #130088;
}

p a:hover {
  border-bottom: 1px dotted #6A5ACD;
  transition-duration: 0.4s;
}

a {
  color: #130088;
  text-decoration: none;
}

a:hover {
  color: #6A5ACD;
}

a#site-logo:hover {
  color: #7CB9E8;
  transition-duration: 0.4s;
}

a[href*="tutsplus"] {
  /* Use their signature Envato green */
  color: #83b348;
}

/*
  ========================================
  Lists
  ========================================
*/

ul {
  list-style-position: inside;
  list-style-type: square;
  margin: 5px;
}

/*
  ========================================
  Tables
  ========================================
*/

table {
  border-collapse: separate;
  border-spacing: 0;
  color: #42444e;
  margin: 0 auto;
  max-width: 60rem;
  width: 90%;
}

th,
td {
  padding: 1% 3%;
  vertical-align: middle;
}

thead {
  background: #42444e;
  background: linear-gradient(#6A5ACD, #130088);
  color: #f8f8ff;
  font-size: 1rem;
  text-transform: uppercase;
}

th:first-child {
  border-top-left-radius: 5px;
  text-align: left;
}

th:last-child {
  border-top-right-radius: 5px;
}

tbody tr:nth-child(even) {
  background: #f0f0f2;
}

td {
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}

td:first-child {
  border-left: 1px solid #e7e7e7;
}

.book-title {
  color: #395870;
  display: block;
}

.text-offset {
  color: #7c7c80;
  font-size: 0.8rem;
}

.item-stock,
.item-qty {
  text-align: center;
}

.item-price {
  text-align: right;
}

.item-multiple {
  display: block;
}

tfoot {
  text-align: right;
}

tfoot tr:last-child {
  background: #f0f0f2;
  color: #395870;
  font-weight: bold;
}

tfoot tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

/*
  ========================================
  Primary header
  ========================================
*/

.logo,
.main-nav,
.searchbar {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}

.primary-header {
  background-color: #42444e;
  width: 100%;
}

.primary-header div {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.main-nav,
.searchbar {
  margin: 2rem 0;
}

/* For mobile */
@media only screen and (max-width: 780px) {
  .primary-header div {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin: 0 auto;
  }

  .main-nav,
  .searchbar {
    margin: 0.5rem auto;
  }

  .logo {
    margin: 0 auto;
    text-align: center;
  }
}

.hidden {
  clip: rect(1ppx, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.logo {
  color: #F8F8FF;
  font-weight: 100;
  font-size: 2.25rem;
}

.main-nav {
  font-variant: small-caps;
  width: 30%;
  min-width: 17rem;
  text-align: center;
}

.searchbar {
  border: 1px solid #F8F8FF;
  border-radius: 2px;
  background-color: #666666;
  color: #F8F8FF;
  max-height: 2.8rem;
  padding: 0.5rem;
  width: 25%;
  min-width: 15rem;
}

#site-logo {
  color: #F8F8FF;
}

/*
  ========================================
  Primary Footer
  ========================================
*/

.primary-footer {
  background-color: #42444e;
  margin: 0px;
  padding: 10px 0px;
  width: 100%;
}

.primary-footer small {
  color: #F8F8FF;
  font-weight: 400;
}

/*
  ========================================
  Art / Images
  ========================================
*/

.artwork {
  align-self: flex-start;
  box-shadow: 0px 4px 5px #999999;
  display: inline-block;
  margin: 5px;
  min-width: 0;
  padding: 5px;
}

.flex-container {
  display: -webkit-flex;
  -webkit-flex-: row wrap;
  -webkit-justify-content: space-around;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
}

/*
  ========================================
  Forms
  ========================================
*/

input,
select,
textarea {
  font: 300 16px/21px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label,
input.contact {
  font-variant: small-caps;
}

input[type="submit"],
input[type="reset"] {
  box-sizing: border-box;
  padding: 5px;
  margin: 0.5rem 0.5rem 0.25rem 0;
  width: 5rem;
}

.contact-me label {
  display: block;
  font-weight: bold;
  padding: 0.5rem 0;
}

.contact-me {
  box-sizing: border-box;
  overflow: hidden;
}

.contact:active,
.contact:focus {
  outline: 2px solid #7CB9E8;
}

/*
  ========================================
  Embellishment Options
  ========================================
*/

.gradient {
  /* Fallback for browsers that don't support gradients */
  background: #130088;
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(#130088, #6A5ACD);
  /* For Internet Explorer 10 */
  background: -ms-linear-gradient(#130088, #6A5ACD);
  /* Standard syntax */
  background: linear-gradient(#130088, #6A5ACD);
}

.interactive-wiggle {
  /* Chrome, Safari, Opera */
  -webkit-animation-name: shakeit;
  -webkit-animation-duration: 1s;
  /* Standard syntax */
  animation-name: shakeit;
  animation-duration: 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes shakeit {
  12.5% {left: -40px;}
  25% {left: 40px;}
  37.5% {left: -20px;}
  50% {left: 20px;}
  62.5% {left: -10px;}
  75% {left: 10px;}
}

/* Standard syntax */
@keyframes shakeit {
  12.5% {left: -40px;}
  25% {left: 40px;}
  37.5% {left: -20px;}
  50% {left: 20px;}
  62.5% {left: -10px;}
  75% {left: 10px;}
}