/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

article {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #DCDCDC;
    border: 4px solid #e7e7e7;
    border-radius: 10px;
    opacity: 0.8;
    padding: 15px;
    width: 890px;
}

aside {
    background-color: #e7e7e7;
    border: 4px dotted #DCDCDC;
    margin: 10px;
    padding: 5px;
}

footer {
    background-color: #e7e7e7;
    border: 6px solid #DCDCDC;
    height: 110px;
    padding: 20px;
}

header {
    background-color: #e7e7e7;
    border: 6px solid #DCDCDC;
    height: 80px;
    padding: 20px;
}

iframe {
  margin:auto;
  display:block;
}

section {
    background-color: #e7e7e7;
    border: 6px solid #DCDCDC;
    padding: 20px;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

.container,
.grid {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    width: 960px;
}

.col-20 {
    width: 20%;
}

.col-60 {
    width: 60%;
}

.col-20,
.col-60 {
    display: inline-block;
    vertical-align: top;
}

.grid,
.col-20,
.col-60 {
    padding-left: 36px;
    padding-right: 36px;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
    background-color: #008CBA;
    border-radius: 5px;
    color: #F8F8FF;
    display: inline-block;
}

.btn-alt {
    border: 1px solid #6A5ACD;
    padding: 10px;
    transition-duration: 0.4s;
}

.btn-alt:hover {
    background-color: #7CB9E8;
    color: #F8F8FF;
}

/*
  ========================================
  Lists
  ========================================
*/

ul {
    list-style-position: inside;
    list-style-type: square;
    margin: 5px;
}

/*
  ========================================
  Primary header
  ========================================
*/

.logo {
    /* TODO Add more formatting to standalone logo in header */
    box-sizing: border-box;
    display: inline-block;
    padding-top: 10px;
}

.links {
    box-sizing: border-box;
    display: inline-block;
    left: 20px;
    position: relative;
    top: -10px;
}

.logo,
.links {
    margin: 0 1.5%;
}

.options {
    left: 420px;
    position: relative;
}

/*
  ========================================
  Typography
  ========================================
*/

a:hover {
    border-bottom: 1px solid #000000;
}

a[href*="tutsplus"] {
    /* Use their signature Envato green */
    color: #83b348;
}

h1,
h2,
h4,
h5,
p {
    margin-bottom: 22px;
}

.social {
    color: #6A5ACD;
}

.tooltip {
    color: #FFEBCD;
    background-color: #6A5ACD;
}