/* This will be the main stylesheet that dictates the website design
and visual flair. Must be simple and elegant.

Note that this will be a full reset from the original CSS and
thus requires an overhaul in full force. */

/* ================
  Color Variables
================ */

:root {
  --main-header: #fdfdfd;
  --main-bg: #fff;
  --content-bg: #eee;
  --main-footer: #ced1d3;
  --border-color: #999999;

  --header-text: #333;
  --link-color: #2d5b96;
  --link-active-color: #303ef5;

  --shadow-light: #d3d3d3;
  --shadow-normal: #b3b3b3;
  --shadow-dark: #939393;
  --form-border: #7CB9E8;
}



/* ================
  Base Styles
================ */

article,
aside,
div,
footer,
form,
header,
iframe,
nav,
section,
ul,
ol,
dl {
  box-sizing: border-box;
}

article,
aside {
  background: var(--content-bg, #eee);
}

div {
  break-inside: avoid;
}

header {
  padding: 1rem;

  background: var(--main-header, #fdfdfd);
  box-shadow: 0 4px 5px var(--shadow-normal, #b3b3b3);
}

header nav {
  box-sizing: border-box;

  background-color: #f5fafc;
}

footer {
  padding: 1rem;

  background: var(--main-footer, #ced1d3);
  
  text-align: center;
  font-size: 0.75rem;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
  margin-top: 0.5rem;
}

footer p {
  margin: 0.5rem 0;
}

img {
  max-width: 100%
}

nav {
  padding: 1rem;
  margin-top: 1rem;

  box-shadow: 0 3px 5px var(--shadow-light, #d3d3d3);
}



/* --- Body & Typography --- */

html {
  font-size: calc(15px + 0.390625vw);
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

body {
  padding: 0;
  margin: 0;

  color: #222;
  background-color: var(--main-bg, #fff);

  font-family: "Lato", 
               "Open Sans", 
               "Helvetica Neue", 
               Helvetica, 
               Arial, 
               sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-text, #333333);
  margin-bottom: 21px;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.35;
}

h2 {
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 1.45;
}

h3 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.7;
}

h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6;
}

h5 {
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.4;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;

  text-transform: uppercase;
}

a {
  color: var(--link-color, #2d5b96);
  text-decoration: none;
}

a:hover {
  color: var(--link-active-color, #303ef5);
  border-bottom: 1px dotted;
}

p {
  margin-bottom: 1.5rem;
}



/* ================
  Layout Styles
================ */

/* --- General layout --- */

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

/* --- Lists Layout --- */

.list-hor {
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.list-hor li a {
  display: block;
  padding: 1rem;

  text-align: center;
  text-decoration: none;
}



/* ================
  Module Styles
================ */

/* --- Search styles --- */

.search-logo {
  align-items: center;
}

.search-field {
  display: none;
}

/* --- Social media styles --- */

.social-media {
  text-decoration: none;
}

.social-media:hover,
.nav-item:hover {
  border: none;
}

.email-icon,
.facebook-icon,
.github-icon,
.linkedin-icon,
.instagram-icon,
.mastodon-icon {
  max-height: 1.5rem;
  max-width: 1.5rem;
}

#main-header {
  text-align: center;
}

#main-nav {
  padding: 0.5rem 0;
}

/* --- Art styles --- */

.artwork {
  box-shadow: 0px 4px 5px var(--border-color, #999999);
  display: inline-block;
  margin: 5px;
  min-width: 0;
  padding: 5px;
}

/* --- Gradient styles --- */

.gradient {
  /* Fallback for browsers that don't support gradients */
  color: #130088;
  /* For Safari 5.1 to 6.0 */
  color: -webkit-linear-gradient(#130088, #6A5ACD);
  /* For Internet Explorer 10 */
  color: -ms-linear-gradient(#130088, #6A5ACD);
  /* Standard syntax */
  color: linear-gradient(#130088, #6A5ACD);
}

/* --- Form styles --- */

input,
select,
textarea {
  font: 300 16px/21px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label,
input.contact {
  font-variant: small-caps;
}

input[type="submit"],
input[type="reset"] {
  box-sizing: border-box;
  padding: 5px;
  margin: 0.5rem 0.5rem 0.25rem 0;
  width: 5rem;
}

.contact-me label {
  display: block;
  font-weight: bold;
  padding: 0.5rem 0;
}

.contact-me {
  box-sizing: border-box;
  overflow: hidden;
}

.contact:active,
.contact:focus {
  outline: 2px solid var(--form-border, #7CB9E8);
}