/* --- The core stylesheet for Jason Garvin, the website --- */

/* ------------------------------------------------------------------------- */
/* ------------------- Color themes for default and dark ------------------- */
/* ------------------------------------------------------------------------- */


:root {
  --brand-hue:           217deg; /* #3066be */
  --brand-hue-alt:       236deg; /* #696c9a */
  --monotone:            195deg; /* #00171f */
  --neutral:             0deg;   /* #fff */

  --brand-primary:       hsl(var(--brand-hue), 60%, 47% );
  --brand-highlight:     hsl(var(--brand-hue), 65%, 75% );
  --brand-lowlight:      hsl(var(--brand-hue), 50%, 19% );
  --brand-inactive:      hsl(var(--brand-hue), 35%, 47% );

  --brand-secondary:     hsl(var(--brand-hue-alt), 23%, 51% );
  --brand-2nd-highlight: hsl(var(--brand-hue-alt), 30%, 81% );
  --brand-2nd-lowlight:  hsl(var(--brand-hue-alt), 30%, 10% );
  --brand-2nd-inactive:  hsl(var(--brand-hue-alt), 20%, 35% );

  --core-monotone:       hsl(var(--monotone), 100%, 6%);
  --mono-emphasis:       hsl(var(--monotone), 25%, 20%);
  --mono-subtle:         hsl(var(--monotone), 20%, 90%);

  --background:          hsl(var(--neutral), 0%, 100%);
  --background-shade:    hsl(var(--neutral), 0%, 97%);

  --gradient-fill:       transparent;
  --element-shadow:      rgba(0, 0, 0, 0.4);
}

.dark-theme {
  --brand-hue:           236deg; /* #696c9a */
  --brand-hue-alt:       217deg; /* #3066be */
  --monotone:            29deg;  /* #e6e9de */
  --neutral:             244deg; /* #0d0c1d */

  --brand-primary:       hsl(var(--brand-hue), 23%, 51% );
  --brand-highlight:     hsl(var(--brand-hue), 30%, 71% );
  --brand-lowlight:      hsl(var(--brand-hue), 32%, 41% );
  --brand-inactive:      hsl(var(--brand-hue), 20%, 35% );

  --brand-secondary:     hsl(var(--brand-hue-alt), 45%, 47% );
  --brand-2nd-highlight: hsl(var(--brand-hue-alt), 60%, 75% );
  --brand-2nd-lowlight:  hsl(var(--brand-hue-alt), 40%, 35% );
  --brand-2nd-inactive:  hsl(var(--brand-hue-alt), 35%, 45% );

  --core-monotone:       hsl(var(--monotone), 32%, 93%);
  --mono-emphasis:       hsl(var(--monotone), 0%, 90%);
  --mono-subtle:         hsl(var(--monotone), 0%, 10%);

  --background:          hsl(var(--neutral), 30%, 16%);
  --background-shade:    hsl(var(--neutral), 41%, 8%);

  --gradient-fill:       hsl(var(--brand-hue), 30%, 51% );
  --element-shadow:      rgba(0, 0, 0, 0);
}



/* -------------------------------------------------------------------------- */
/* --- || General ----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;

  color: var(--core-monotone, #00171f);
  background-color: var(--background-shade, #f8f8f8);

  font-family: "Quicksand",
               "Open Sans",
               Helvetica,
               Arial,
               sans-serif;

  font-size: calc(1rem + 0.2vw);
  line-height: 1.618;
}

main,
footer {
  max-width: 58rem;
  margin: 0 auto;
}

main {
  padding: 1rem 2rem;
}

footer {
  padding: 1rem 3rem;
}

main section {
  padding: 0;
  border-radius: 10px;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 21px;
  font-family: "PT Serif",
               serif;
}

h1 {
  font-size: 2.986rem;
  font-weight: 900;
  line-height: 1.35;
}

h2 {
  font-size: 2.488rem;
  font-weight: 800;
  line-height: 1.45;
}

h3 {
  font-size: 2.074rem;
  font-weight: 700;
  line-height: 1.6;
}

h4 {
  font-size: 1.728rem;
  font-weight: 700;
  line-height: 1.5;
}

h5 {
  font-size: 1.44rem;
  font-weight: 400;
  line-height: 1.4;
}

h6 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;

  text-transform: uppercase;
}

a {
  color: var(--brand-primary, #3066be);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: var(--brand-lowlight);
  transition: all 0.2s ease-in-out;
}

p a {
  color: var(--brand-secondary, #696c9a);
  background-image: linear-gradient(var(--brand-secondary, #696c9a), var(--brand-secondary, #696c9a));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  transition: all 0.1s linear;
}

p a:hover {
  background-size: 100% 100%;
  color: var(--background, #fff);
}

p a:visited {
  color: var(--brand-2nd-inactive);
  background-image: linear-gradient(var(--brand-2nd-inactive), var(--brand-2nd-inactive));
}

p a:visited:hover {
  background-size: 100% 100%;
  color: var(--background, #fff);
}

pre {
  position: relative;
  display: block;
  margin: 2rem 0;
}

code {
  display: block;
  padding: 0.25rem 2rem;
  color: var(--core-monotone, #00171f);
  background-color: var(--brand-lowlight) !important;
  border: 1px solid var(--brand-lowlight);
  border-radius: 5px;

  font-size: calc(0.7rem + 0.3vw);
}



/* -------------------------------------------------------------------------- */
/* --- || Sitewide ---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

  /* --- Font Awesome --- */

.fa-solid
.fa {
  margin: 0 0.25rem;
}

  /* --- Page Background Effects */

.background-glow::before,
.background-glow-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  border-radius: 50% 22% 40% 80%;
	filter: blur(100px);
  background: radial-gradient(circle at 50% 50%, var(--gradient-fill, transparent), var(--background, #fff));
}

.background-glow::before {
  width: 100%;
  height: 90%;
  opacity: 0.25;
}

.background-glow-2::before {
  width: 90%;
  height: 70%;
  opacity: 0.15;
}



/* --- || Header ------------------------------------------------------------ */

.site-header {
  position: fixed;
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
  justify-content: space-between;
  z-index: 1;
  background-color: var(--background-shade, #fff);
  box-shadow: 0 1px 2px var(--element-shadow, rgba(0, 0, 0, 0.4));

  transition: top 0.2s ease-in-out;
}

  /* --- Header Logo & Title --- */

.logo-container {
  width: fit-content;
  margin: 1.5rem 0 0;
  text-align: left;
  transition: all 0.2s ease-in-out;
}

.site-logo {
  min-width: 3.2rem;
  max-width: 6rem;
}

  /* Targetting parts of the SVG */
.site-logo .cls-1 {
  fill: var(--brand-primary, #3066be);
}

.site-logo .cls-1,
.site-logo .cls-2 {
  stroke-width: 0px;
}

.site-logo .cls-2 {
  fill: var(--brand-highlight);
}
  /* End targetting parts of the SVG */

.site-title {
  display: flex;

  font-family: "PT Serif", serif;
  font-size: calc(2rem + 0.5vw);
  font-weight: 700;
}

.site-title span {
  max-width: 10rem;
  line-height: 1.4;
}

.site-title:hover,
.site-title:hover span{
  color: var(--brand-primary, #3066be);
}

a.title,
a.title:visited,
a.title:hover {
  color: var(--core-monotone, #00171f);
}

.subtitle {
  font-size: calc(1.3em + 0.59vw);
  font-weight: 500;
  margin: 1rem 0 0;
  color: var(--mono-emphasis, #3c3744);
}

  /* --- Header Navigation  --- */

#main-nav {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  max-height: 0;
  margin: 0;
  overflow: hidden;
  z-index: 5;

  background-color: var(--background-shade, #f8f8f8);

  transition: max-height 0.4s ease-out;
}

.main-menu {
  padding: 130px 0;
  margin: 0;
  list-style-type: none;
}

.main-menu li {
  width: 75%;
}

.menu-item {
  display: block;
  position: relative;
  padding: 2rem 2rem 1.5rem;
  font-size: 1.6rem;
  color: var(--core-monotone, #00171f);
}

a.menu-item:visited {
  color: var(--core-monotone, #00171f);
}

a.menu-item:hover {
  color: var(--core-monotone, #00171f);
}

.active-page::after {
  content: "";
  position: absolute;
  left: 1.3rem;
  bottom: 1rem;
  height: 3.5rem;
  width: 90%;
  z-index: -1;
  background-color: var(--mono-subtle);
  border-radius: 1rem;
}

.main-menu li:hover .menu-item::after{
  content: "";
  position: absolute;
  left: 1.3rem;
  bottom: 1rem;
  height: 3.5rem;
  width: 90%;
  z-index: -1;
  background-color: var(--mono-subtle);
  border-radius: 1rem;
}

  /* --- Header Hamburger Menu Icon --- */

.side-menu {
  display: none;
}

.hamb {
  position: relative;
  cursor: pointer;
  padding: 30px 1.5rem 30px;
  margin-top: 1rem;
  z-index: 10;
}

.hamb-line {
  background: var(--mono-emphasis);
  display: block;
  height: 3px;
  position: relative;
  width: 30px;
  z-index: 10;
}

.hamb-line::before,
.hamb-line::after {
  background: var(--mono-emphasis);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 8px;
}

.hamb-line::after {
  top: -8px;
}

.side-menu:checked ~ #main-nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}



/* --- || Global Buttons ---------------------------------------------------- */

  /* --- Skip to Content Link --- */

.skip-to-link {
  display: block;
  position: absolute;
  left: 16px;
  top: 0;
  padding: 0.25rem;
  z-index: 10;
  background-color: var(--background, #fff);
  border-radius: 10px;

  transform: translateY(-175%);
  transition: transform 0.3s;
}

.skip-to-link:focus {
  transform: translateY(12%);
}

  /* --- Back to Top Button --- */

.back-to-top {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  height: 4rem;
  width: 4rem;
  padding: 0;
  overflow: hidden;
  z-index: 4;
  opacity: 0;

  color: var(--core-monotone, #00171f);
  background: var(--brand-highlight);
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);

  text-align: center;

  transition: all 0.3s ease-out;
}

.to-top-button {
  display: block;
  height: 4rem;
  width: 4rem;
  margin-top: 1rem;
  line-height: inherit;
  font-size: 2rem;

  cursor: pointer;
}

.back-to-top:hover {
  background: var(--brand-primary, #3066be);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3),
              0 4px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-out;
}

.theme-button {
  position: fixed;
  display: flex;
  bottom: 1.5rem;
  left: 1.5rem;
  z-index: 5;

  cursor: pointer;
}



/* --- || CTA (Call to Action) & Subscribe Box ------------------------------ */

  /* --- Main Hero Section --- */

.hero-content {
  max-width: 45rem;
  margin-right: auto;
  margin-left: auto;
}

.hero-header {
  position: relative;
  margin: 0 auto 0.5rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.hero-subtitle {
  margin-top: 1rem;
  color: var(--mono-emphasis, #3c3744);
  font-size: calc(1.3em + 0.59vw);
}

  /* --- CTA Box --- */

.cta-click-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 32rem;
  padding: 1rem 1rem;
  margin: 10rem auto 4rem;
  border-radius: 40px;
  background-color: var(--brand-primary, #3066be);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);

  transition: all 0.2s ease-in-out;
}

.cta-click-box:hover {
  background-color: var(--brand-lowlight);
  transition: all 0.2s ease-in-out;
}

.cta-click-box a {
  color: var(--background, #fff);
}

.subscribe-box {
  margin: 2rem auto 4rem;
}

.cta-box-title {
  text-align: center;
  font-size: calc(1.2em + 0.59vw);
  margin: 0;
  color: var(--background, #fff);
}

.cta-box-content {
  margin-bottom: 0.5rem;
  color: var(--background, #fff);
}

.cta-click-box,
.cta-click-box:hover,
.cta-box-title,
.cta-box-title:hover {
  border-bottom: none;
}

  /* --- Subscription Form --- */

.subscribe-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe-content {
  width: 90%;
  height: 2.5rem;
  margin: 1rem 1rem 0;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
  border-radius: 60px;
  overflow: hidden;
}

.form-widget {
  position: relative;
  width: 100%;
  height: 100%;
}

.form-widget .add-email{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 1.25rem;

  background-color: var(--background, #fff);
  color: var(--monotone);
}

.form-widget .submit-email {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 2px);
  width: 7.5rem;
  padding: 0.5rem 1.25rem;
  margin: 1px;

  border: none;
  border-radius: 60px;
  outline: none;

  cursor: pointer;
  background: var(--brand-highlight);
  color: var(--background, #fff);
  transition: all .35s ease-in-out;
}

.form-widget.done .submit-email {
  width: calc(100% - 2px);
  background: var(--brand-secondary);
}

.form-widget .before-submit,
.form-widget .after-submit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 2.25rem;
  transition: visibility .35s ease-in-out,
              opacity .35s ease-in-out;
}

.form-widget.done .before-submit,
.form-widget:not(.done) .after-submit {
  visibility: hidden;
  opacity: 0;
}

.form-widget .submit-email .after-submit {
  transition-delay: .35s;
}

.form-widget:not(.done) .before-submit,
.form-widget.done .after-submit {
  visibility: visible;
  opacity: 1;
}

#subscribe-email {
  font-size: calc(0.8rem + 0.2vw);
}



/* --- || Footer ------------------------------------------------------------ */

#primary-footer {
  margin-top: 2rem;
}

.site-footer {
  background-color: var(--background, #fff);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}

.link-list {
  list-style-type: none;
}

.link-list li {
  margin-top: 1rem;
}

.no-indent {
  padding-left: 0;
}



/* -------------------------------------------------------------------------- */
/* --- || Pages ------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */



/* --- || Pages: Home ------------------------------------------------------- */

.brand-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 1rem auto;
}

.brand-name {
  margin-left: 1.5rem;
}

#teg-logo,
#fnf-logo {
  max-height: 100px;
  object-fit: contain;
}



/* --- || Blog -------------------------------------------------------------- */

/* --- Blog Preview --- */

.blog-preview {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 10px;
  background-color: var(--background, #fff);
}

.title-preview {
  margin-bottom: 0.15rem;
}

.text-preview {
  font-weight: 700;
}

.pub-info-preview {
  display: flex;
  margin-top: 0.15rem;
  font-size: 0.85rem;
    font-family: "Quicksand",
                 "Open Sans",
                 Helvetica,
                 Arial,
                 sans-serif;
  text-transform: lowercase;
}

.pub-info-preview span {
  margin-left: 4rem;
  font-weight: lighter;
}

.read-more-btn {
  display: inline;
  padding: 0;
  background-color: transparent;
  background-image: linear-gradient(#444, #444);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  border: none;

  color: var(--mono-emphasis, #3c3744);
  font-size: inherit;
  cursor: pointer;

  transition: all 0.1s linear;
}

.read-more-btn:hover {
  background-size: 100% 1px;

  transition: all 0.2s ease-in-out;
}

.subsection:first-of-type {
  padding-bottom: 0;
}

.subsection:last-of-type {
  padding-top: 0;
}

  /* --- Blog Post Table of Contents --- */

.table-of-contents {
  padding: 1rem;
  margin: 1rem auto;
  background-color: var(--background, #fff);
  border-radius: 20px;

  transition: font-size 0.2s ease-out;
}

.toc-title {
  display: inline-block;
  margin: 1rem;
  border-radius: 5px;
}

#table-header {
  display: flex;
}

#table-header .fa {
  padding-left: 1rem;
  color: var(--brand-primary, #3066be);
}

#toc-collapse {
  display: none;
}

.collapsible-button .fa {
  transition: all 0.2s ease-in-out;
}

#toc-collapse:checked ~ .collapsible-button .fa {
  transform: rotate(180deg);

  transition: all 0.2s ease-in-out;
}

#toc-collapse:checked ~ #toc-content {
  max-height: 100%;
  transform: scaleY(1);
}

.collapsible-button {
  color: var(--brand-primary, #3066be);
  font-size: calc(1.7rem + 0.3vw);
  line-height: 1.45;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#toc-content {
  max-height: 0;
  overflow: hidden;
}

.toc-quick-links {
  padding-inline-start: 2rem;
}

.toc-quick-links a {
  background-color: transparent;
  background-image: linear-gradient(var(--brand-lowlight), var(--brand-lowlight));
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  border: none;

  transition: all 0.1s linear;
}

.toc-quick-links a:hover {
  background-size: 100% 1px;

  transition: all 0.2s ease-in-out;
}

.toc-quick-links li::marker {
  font-family: "PT Serif", serif;
  font-weight: 700;
}

#toc-content li {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 0.2s ease;
}

#toc-collapse:checked ~ #toc-content li {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.3s ease;
}

  /* --- Blog Post Formatting --- */

.blog-title {
  padding: 0;
  margin-bottom: 3rem;
}

.blog-subtitle {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: var(--mono-emphasis, #3c3744);
}

.blog-subtitle a {
  font-size: calc(1.5rem + 0.3vw);
}

.blog-info {
  display: flex;
  justify-content: center;
  margin-top: 0.15rem;
  padding: 0 1rem 1.5rem;
  font-size: 1rem;
  text-transform: lowercase;
}

.blog-info span {
  margin-left: 4rem;
  font-weight: lighter;
}

.blog-info span:first-of-type {
  margin-left: 0;
}

#blog-post section {
  margin: 0;
  border-radius: 0;
}

#blog-post section:first-of-type {
  margin: 1rem 0 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#blog-post section:last-of-type {
  margin: 0 0 1rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bonus-content {
  margin: 2rem 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  background-color: var(--background, #fff);
}



/* --- || Page: Contact ----------------------------------------------------- */

.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0;
  background-color: var(--background, #fff);
  box-shadow: 0 1px 5px var(--element-shadow, rgba(0, 0, 0, 0.4));
  border-radius: 10px;
}

#contact-me {
  font-style: normal;
}

.contact-form {
  margin-top: 1rem;
}



/* -------------------------------------------------------------------------- */
/* --- || Widgets, Components, & Misc. -------------------------------------- */
/* -------------------------------------------------------------------------- */

.copy-to-clipboard {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border: 1px solid var(--brand-highlight);
  border-radius: 5px;
  overflow: hidden;

  color: var(--brand-highlight);
  font-size: 1.2rem;

  cursor: pointer;
  transition: all 0.2s ease;
}

.copy-to-clipboard:hover {
  border: 1px solid #fff;
  color: #fff;

  transition: all 0.2s ease;
}

.breadcrumbs {
  margin-top: 20vh;
  background-color: var(--background, #fff);
  border-radius: 20px;
}

/* --- || Utility Classes --------------------------------------------------- */

.top-of-page {
  margin-top: 25vh;
}

.vertical-space {
  margin-top: 10vh;
}

.buffer {
  margin-top: 3rem;
}

.centered {
  text-align: center;
}

.left-align {
  text-align: left;
}

.bottom-space {
  margin-bottom: 1rem;
}

.transparent-bg {
  background-color: transparent;
}

.emphasis {
  color: var(--brand-primary, #3066be);
  font-weight: 700;
}

.home-block {
  position: relative;
  padding-top: 0.5rem;
}

.accent-link {
  color: var(--brand-secondary, #696c9a);
}

.accent-link:hover {
  color: var(--brand-2nd-lowlight);
}

.card-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.active-card {
  padding: 1rem 2rem;
  box-shadow: 0 1px 5px var(--element-shadow, rgba(0, 0, 0, 0.4));
}

.inactive-card {
  padding: 1rem 2rem;
  background-color: var(--mono-subtle)
}



/* --- || Buttons ----------------------------------------------------------- */

.default-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.6rem 0.8rem;

  border: none;
  border-radius: 10px;
  background-color: var(--brand-primary, #3066be);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

  color: #fff;

  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.default-button:hover {
  background-color: var(--brand-lowlight);
  color: #fff;

  transition: all 0.2s ease-in-out;
}

.button-link {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 4rem;
  width: 4rem;
  padding: 0;
  margin: 10vh auto 55vh;
  background: transparent;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

.button-link .fa {
  position: relative;
  color: var(--brand-primary, #3066be);
  font-size: 62px;

  transition: all 0.2s ease-in-out;
}

.button-link:hover .button-link,
.button-link:hover .fa {
  transform: scaleX(1.1) scaleY(1.1);
  color: var(--brand-lowlight);
}



/* --- || Forms ------------------------------------------------------------- */

.form-lead {
  padding: 2rem 0 1rem;
  margin: 0;
  background-color: var(--brand-primary, #3066be);
  color: var(--background, #fff);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.form-list {
  width: 100%;
  max-width: 700px;
  padding: 0 1rem;
  margin: auto auto;
  list-style-type: none;
}

.form-list:last-child {
  margin-bottom: 2rem;
}

.form-item {
  width: 100%;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0;

  font-size: 1.2rem;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.2rem 0.5rem;
  margin-top: 0.25rem;
  color: var(--core-monotone, #00171f);
  font-size: 1rem;
  background-color: var(--background-shade);
  border: 1px solid var(--brand-lowlight);
  border-radius: 5px;
}

.form-input {
  height: 2.5rem;
  max-width: 20rem;
}

.form-textarea {
  height: 10rem;
}

.form-input:hover,
.form-input:active,
.form-textarea:hover,
.form-textarea:active {
  border: 1px solid var(--brand-primary, #3066be);
}

.form-submit {
  display: block;
  width: 100%;
  max-width: 22rem;
  margin: 0 auto;
  background-color: var(--brand-primary, #3066be);
  cursor: pointer;
}

.form-submit:hover {
  background-color: var(--brand-lowlight);
}

.form-submit:disabled {
  background-color: var(--brand-inactive);
}

.form-flex {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}



/* --- || Images (img) ------------------------------------------------------ */

.picture-container {
  position: relative;
  height: 150px;
  width: 150px;
  margin: 1rem auto;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid var(--core-monotone, #00171f);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

#my-profile-pic {
  width: 100%;
}



/* --- || Lists ------------------------------------------------------------- */

.list-hor {
  display: -webkit-flex;
  display: flex;
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.list-hor li a,
.list-hor li i,
.list-hor li span {
  display: inline-block;
  text-align: center;
  flex-wrap: wrap;
}

.list-hor li a {
  margin: 1rem;
}

.list-hor li i {
  margin: 1rem 0;
  font-size: calc(1rem + 0.2vw);
  line-height: 1.618;
}

.list-hor li span {
  margin: 1rem;
}

.list-emphasis {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 1rem;
  padding: 0;
  margin: 1.5rem 0 0;

  list-style-type: none;
}

.list-item-emphasis {
  display: block;
  margin: 0;
  padding: 0.5rem 1rem;
  width: fit-content;
  background-color: var(--background, #fff);
  border-radius: 10px;
  box-shadow: 0 1px 3px var(--element-shadow, rgba(0, 0, 0, 0.4));
}

.list-item-emphasis a {
  font-size: calc(1.1rem + 0.5vw);
}

.list-item-emphasis .fa-solid {
  font-size: 1.5rem;
}


/* -------------------------------------------------------------------------- */
/* --- || Animations & Flair ------------------------------------------------ */
/* -------------------------------------------------------------------------- */



/* --- || Animation --------------------------------------------------------- */

.animate-drop {
  position: relative;
  bottom: 2rem;
  transition: all 0.5s ease-out;
}

.animate-drop:nth-child(2) {
  transition-delay: 0.25s;
}

.animate-drop:nth-child(3) {
  transition-delay: 0.5s;
}



/* --- || Loaders & Spinners ------------------------------------------------ */

#loader {
  border: 12px solid var(--mono-emphasis, #3c3744);
  border-radius: 50%;
  border-top: 12px solid var(--core-monotone, #00171f);
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

.loader-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}



/* -------------------------------------------------------------------------- */
/* --- || Media Queries ----------------------------------------------------- */
/* -------------------------------------------------------------------------- */



/* --- || Media Queries for Accessibility ----------------------------------- */

@media (prefers-reduced-motion: no-preference) {
  .drop-into-frame {
    transform: translateY(2rem);
    transition: transform 0.5s ease-out, opacity 0.5s ease-in-out;
  }

  .drop-into-frame:nth-child(2) {
    transition-delay: 0.25s;
  }

  .drop-into-frame:nth-child(3) {
    transition-delay: 0.5s;
  }
}



/* --- || Media Queries for Screen Size ------------------------------------- */

@media screen and (min-width: 615px) {
  .flex-around li {
    padding-top: 0.75rem;
  }
}

@media screen and (min-width: 641px) {
  .hero-subtitle {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  main {
    padding: 1rem 3rem;
  }

  main section {
    padding: 1rem 2rem;
    background-color: var(--background, #fff);
  }

  .site-header {
    left: 0;
    right: 0;
    top: 0;
    width: 96%;
    max-width: 900px;
    margin: 2rem auto 0;
    padding-bottom: 0;
    border-radius: 50px;
  }

  .logo-container {
    margin: 0.5rem 0 0 2rem;
  }

  .site-title {
    font-size: 1.5rem;
  }

  .site-title span {
    display: block;
    height: fit-content;
    margin: auto 0;
  }

  #main-nav {
    position: relative;
    top: 0;
    max-height: none;
    width: fit-content;
    margin: auto 3rem auto auto;
    background-color: transparent;
  }

  .hamb {
    display: none;
  }

  .main-menu {
    display: flex;
    padding: 0;
  }

  .main-menu li {
    width: fit-content;
    margin: 0.25rem;
  }

  .menu-item {
    padding: 0.25rem 1rem;
    font-size: calc(1.2rem + 0.2vw);
  }

  .active-page::after,
  .main-menu li:hover .menu-item::after {
    left: 0.35rem;
    bottom: 0.1rem;
    height: 2.6rem;
  }

  .theme-button .fa {
    margin-right: 0.5rem;
  }

  #theme-text {
    display: inline;
  }

  .box-emphasis {
    box-shadow: 0 1px 5px var(--element-shadow, rgba(0, 0, 0, 0.4));
  }

  .top-of-page {
    padding: 0;
    margin-top: 30vh;
  }

  .blog-preview {
    padding-left: 0;
    padding-right: 0;
  }

  .bonus-content {
    background-color: var(--background-shade, #fff);
  }

  .list-emphasis {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    margin: 1rem 0;
  }

  .list-item-emphasis {
    margin: 1rem 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .link-list li {
    margin-top: 0.5rem;
  }

  .form-flex {
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
  }

  #subscribe-email {
    font-size: 1rem;
  }

  .card-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-container {
    flex-direction: row;
  }

  .footer-links {
    justify-content: flex-start;
  }
}

@media screen and (max-height: 600px) {
  .breadcrumbs {
    margin-top: 30vh;
  }
}
